@model HomeBudget2.ViewModels.SubCategoryViewModel
@if (Model.SubCategory.IsExpense)
{
    <h2>Expense SubCategories</h2>
}
@if (Model.SubCategory.IsIncome)
{
    <h2>Income SubCategories</h2>
}

<h3>Details</h3>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubCategory.ParentCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.ParentCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategory.IsExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.IsExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategory.IsIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.IsIncome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategory.Id }) |
    @if (Model.SubCategory.IsExpense)
    {
            @Html.ActionLink("Back to List", "ExpenseSubCategoryIndex")
    }
    @if (Model.SubCategory.IsIncome)
    {
            @Html.ActionLink("Back to List", "IncomeSubCategoryIndex")
    }
</p>
