@using HomeBudget2.Models
@model HomeBudget2.Models.Category

@{
    if (Model.IsExpense)
    {
        <h2>Expense Category</h2>
    }
    if (Model.IsIncome)
    {
        <h2>Income Category</h2>
    }
}

<h3>Create</h3>


@using (Html.BeginForm("Create", "Categories", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IsExpense)
    @Html.HiddenFor(model => model.IsIncome)
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

        <div>
@{
    if (Model.IsExpense)
    {
            @Html.ActionLink("Back to List", "ExpenseCategoryIndex")
    }
    if (Model.IsIncome)
    {
            @Html.ActionLink("Back to List", "IncomeCategoryIndex")
    }
}
        </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
