@model HomeBudget2.Models.Category

@if (Model.IsExpense)
{
    <h2>Expense Categories</h2>
}
@if (Model.IsIncome)
{
    <h2>Income Categories</h2>
}


<h3>Details</h3>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsIncome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @if (Model.IsExpense)
    {
        @Html.ActionLink("Back to List", "ExpenseCategoryIndex")
    }
    @if (Model.IsIncome)
    {
        @Html.ActionLink("Back to List", "IncomeCategoryIndex")
    }
</p>
