@using HomeBudget2.Models
@model HomeBudget2.ViewModels.FinancialOperationViewModel
@{
    FinancialOperation financialOperation = Model.FinancialOperation;
}

@if (financialOperation.IsExpense)
{
    <h2>Expense</h2>
}
@if (financialOperation.IsIncome)
{
    <h2>Income</h2>

}
@if (financialOperation.IsTransfer)
{
    <h2>Transfer</h2>

}
<h3>Delete</h3>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.SourceOfMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.SourceOfMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.AmountOfMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.AmountOfMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.DestinationOfMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.DestinationOfMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.DateTime)
        </dt>

        <dd>
            @Model.FinancialOperation.DateTime.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.IsTransfer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.IsTransfer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.IsExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.IsExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.IsIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.IsIncome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @if (Model.FinancialOperation.IsExpense)
            {
                @Html.ActionLink("Back to List", "ExpensesIndex")
            }
            @if (Model.FinancialOperation.IsIncome)
            {
                @Html.ActionLink("Back to List", "IncomesIndex")
            }
            @if (Model.FinancialOperation.IsTransfer)
            {
                @Html.ActionLink("Back to List", "TransfersIndex")
            }
        </div>
    }
</div>
