@model HomeBudget2.ViewModels.FinancialOperationViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.SourceOfMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.SourceOfMoney)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.AmountOfMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.AmountOfMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.DestinationOfMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.DestinationOfMoney)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.IsTransfer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.IsTransfer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.IsExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.IsExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialOperation.IsIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialOperation.IsIncome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FinancialOperation.Id }) |
    @if (Model.FinancialOperation.IsExpense)
    {
        @Html.ActionLink("Back to List", "ExpensesIndex")
    }
    @if (Model.FinancialOperation.IsIncome)
    {
        @Html.ActionLink("Back to List", "IncomesIndex")
    }
    @if (Model.FinancialOperation.IsTransfer)
    {
        @Html.ActionLink("Back to List", "TransfersIndex")
    }
</p>
