@using HomeBudget2.Models
@model HomeBudget2.ViewModels.FinancialOperationViewModel
@{
    FinancialOperation financialOperation = Model.FinancialOperation;
}

@if (financialOperation.IsExpense)
{
    <h2>Expenses</h2>
}
@if (financialOperation.IsIncome)
{
    <h2>Incomes</h2>

}
@if (financialOperation.IsTransfer)
{
    <h2>Transfers</h2>

}
<h3>Index</h3>

<p>
    @if (financialOperation.IsExpense)
    {
        @Html.ActionLink("Create New", "CreateExpense", "FinancialOperations")

    }
    @if (financialOperation.IsIncome)
    {
        @Html.ActionLink("Create New", "CreateIncome", "FinancialOperations")

    }
    @if (financialOperation.IsTransfer)
    {
        @Html.ActionLink("Create New", "CreateTransfer", "FinancialOperations")

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FinancialOperation.SourceOfMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinancialOperation.DestinationOfMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinancialOperation.AmountOfMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinancialOperation.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinancialOperation.Note)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.ListOfFinancialOperations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SourceOfMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationOfMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
