@using HomeBudget2.Models
@model HomeBudget2.ViewModels.FinancialOperationViewModel
@{
    FinancialOperation financialOperation = Model.FinancialOperation;
}

@if (financialOperation.IsExpense)
{
    <h2>Expenses</h2>
}
@if (financialOperation.IsIncome)
{
    <h2>Incomes</h2>

}
@if (financialOperation.IsTransfer)
{
    <h2>Transfers</h2>

}
<h3>Index</h3>

<p>
    @if (financialOperation.IsExpense)
    {
        @Html.ActionLink("Create New Expense", "CreateExpense", "FinancialOperations")

    }
    @if (financialOperation.IsIncome)
    {
        @Html.ActionLink("Create New Income", "CreateIncome", "FinancialOperations")

    }
    @if (financialOperation.IsTransfer)
    {
        @Html.ActionLink("Create New Transfer", "CreateTransfer", "FinancialOperations")

    }
</p>
<table class="table">
    <tr>
        <th>
            @if (financialOperation.IsExpense)
            {
                @Html.DisplayName("Source Account")
            }
            @if (financialOperation.IsIncome)
            {
                @Html.DisplayName("Target Account")
            }
            @if (financialOperation.IsTransfer)
            {
                @Html.DisplayName("Source Account")
            }
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FinancialOperation.AmountOfMoney)
        </th>
        
        @if (financialOperation.IsExpense)
        {
            <th>
            @Html.DisplayName("Expense Category")
            </th>
        }
        @if (financialOperation.IsIncome)
        {
            <th>
            @Html.DisplayName("Income Category")
            </th>
        }

        <th>
            @if (financialOperation.IsExpense)
            {
                @Html.DisplayName("Expense SubCategory")
            }
            @if (financialOperation.IsIncome)
            {
                @Html.DisplayName("Income SubCategory")
            }
            @if (financialOperation.IsTransfer)
            {
                @Html.DisplayName("Target Account")
            }

        </th>

        <th>
            @Html.DisplayNameFor(model => model.FinancialOperation.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinancialOperation.Note)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.ListOfFinancialOperations)
    {
        <tr>
            @if (financialOperation.IsIncome)
            {

                <td>
                    @Html.DisplayFor(modelItem => item.DestinationOfMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceOfMoney)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.SourceOfMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfMoney)
                </td>
                if (item.IsExpense)
                 {
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.Category.CategoryName)
                </td>
                 }

                <td>
                    @Html.DisplayFor(modelItem => item.DestinationOfMoney)
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
