@model IEnumerable<HomeBudget2.Models.FinancialOperation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DestinationOfMoney.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceOMoney.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionOfOperation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTransfer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsExpense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsIncome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationOfMoney.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceOMoney.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionOfOperation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTransfer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsExpense)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsIncome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
